<nav class="sidebar">
  <div class="bank-logo">
    <img src="assets\public\img\logo.webp" alt="BIDV Logo" width="120" height="40" />
    <p class="bank-name">
      Ngân hàng TMCP Đầu tư và Phát triển Việt Nam
    </p>
  </div>

  <ul class="nav-links">
    <!-- Dashboard -->
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="'/manager/home'">
        <i class="fa-solid fa-chart-line"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- Quản lý thông tin bảo lãnh -->
    <li class="has-submenu" [class.open]="activeSubmenu === 'baolanh'">
      <a href="javascript:void(0)" (click)="toggleSubmenu('baolanh')" class="submenu-toggle">
        <i class="fa-solid fa-car"></i>
        <span>Quản lý bảo lãnh</span>
        <i class="fa-solid fa-chevron-down arrow"></i>
      </a>

      <ul class="submenu">
        <li routerLinkActive="active">
          <a [routerLink]="'/manager/them-bao-lanh'">
            <i class="fa-solid fa-plus-circle"></i>
            <span>Thêm bảo lãnh</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/manager/danh-sach-bao-lanh'">
            <i class="fa-regular fa-pen-to-square"></i>
            <span>Danh sách bảo lãnh</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/manager/tao-dot-ren-luyen'">
            <i class="fa-solid fa-list"></i>
            <span>Thống kê bảo lãnh</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- Quản lý hồ sơ xe -->
    <li class="has-submenu" [class.open]="activeSubmenu === 'hosoxe'">
      <a href="javascript:void(0)" (click)="toggleSubmenu('hosoxe')" class="submenu-toggle">
        <i class="fa-solid fa-car"></i>
        <span>Quản lý hồ sơ xe</span>
        <i class="fa-solid fa-chevron-down arrow"></i>
      </a>
      <ul class="submenu">
        <!-- <li routerLinkActive="active">
          <a [routerLink]="'/manager/them-ho-so-xe'">
            <i class="fa-solid fa-plus-circle"></i>
            <span>Thêm hồ sơ xe</span>
          </a>
        </li> -->
        <li routerLinkActive="active">
          <a [routerLink]="'/manager/them-ho-so-xe-hyundai'">
            <i class="fa-solid fa-car"></i>
            <span>Thêm hồ sơ Hyundai</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/manager/them-ho-so-xe-vinfast'">
            <i class="fa-solid fa-car"></i>
            <span>Thêm hồ sơ VinFast</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/manager/nhap-kho-xe'">
            <i class="fa-regular fa-pen-to-square"></i>
            <span>Nhập kho xe</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/manager/tao-dot-ren-luyen'">
            <i class="fa-solid fa-list"></i>
            <span>Rút hồ sơ xe</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/manager/danh-sach-ho-so-xe'">
            <i style="color:#028B89" class="fa-regular fa-pen-to-square"></i>
            <span>Danh sách hồ sơ xe</span>
          </a>
        </li>
      </ul>
    </li>


    <!-- <li routerLinkActive="active">
      <a [routerLink]="'/manager/quan-ly-tieu-chi'">
        <i class="fa-solid fa-calendar"></i>
        <span>Tiêu chí</span>
      </a>
    </li> -->
  </ul>
</nav>
