<header class="header">
  <!-- Logo -->
  <div class="logo d-flex align-items-center">
    <img src="assets\public\img\logo.webp" alt="BIDV Logo" width="120" height="40" />
    <div class="school-info ms-2">
      <p class="text-red fw-bold">HỆ THỐNG QUẢN LÝ HỒ SƠ XE</p>
    </div>
  </div>

  <!-- Search -->
  <div class="search-box">
    <input type="text" placeholder="Tìm kiếm..." />
    <i class="fa fa-search"></i>
  </div>

  <!-- Menu -->
  <div class="menu d-flex align-items-center">
    <a routerLink="/manager/home" class="menu-item">
      <i class="fa fa-home"></i> Trang chủ
    </a>
    <div class="menu-item">
      <i class="fa fa-user-circle"></i>
      <span class="ms-1">{{ username }}</span>
    </div>
    <a style="cursor: pointer;" (click)="onLogout()" class="menu-item position-relative">
      <i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất
    </a>
  </div>
</header>