<nav class="sidebar">
  <!-- Logo Section -->
  <div class="bank-logo" routerLink="/customer/home">
    <img src="assets/public/img/logo.webp" alt="BIDV Logo" />
    <p class="bank-name">
      Hệ thống Quản lý <br /> Hồ sơ xe &amp; Bảo lãnh
    </p>
  </div>

  <!-- Navigation Menu -->
  <ul class="nav-links">
    <!-- Dashboard -->
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="'/customer/home'">
        <i class="fa-solid fa-house-chimney"></i>
        <span>Trang chủ</span>
      </a>
    </li>

    <!-- NHÓM CHỨC NĂNG KHÁCH HÀNG -->
    <li class="separator"><span>NGHIỆP VỤ</span></li>

    <!-- Đơn bảo lãnh -->
    <li routerLinkActive="active">
      <a [routerLink]="'/customer/de-nghi-cap-bao-lanh'">
        <i class="fa-solid fa-shield-halved"></i>
        <span>Đề nghị cấp bảo lãnh</span>
      </a>
    </li>

    <!-- Đề nghị nhập kho -->
    <li routerLinkActive="active">
      <a [routerLink]="'/customer/de-nghi-nhap-kho'">
        <i class="fa-solid fa-warehouse"></i>
        <span>Đề nghị nhập kho</span>
      </a>
    </li>

    <!-- Đề nghị giải ngân -->
    <li routerLinkActive="active">
      <a [routerLink]="'/customer/de-nghi-giai-ngan'">
        <i class="fa-solid fa-money-bill-transfer"></i>
        <span>Đề nghị giải ngân</span>
      </a>
    </li>

    <!-- Đề nghị rút hồ sơ -->
    <li routerLinkActive="active">
      <a [routerLink]="'/customer/de-nghi-rut-ho-so'">
        <i class="fa-solid fa-file-export"></i>
        <span>Đề nghị rút hồ sơ</span>
      </a>
    </li>

    <!-- Khoản vay -->
    <li routerLinkActive="active">
      <a [routerLink]="'/customer/khoan-vay'">
        <i class="fa-solid fa-file-invoice-dollar"></i>
        <span>Khoản vay</span>
      </a>
    </li>

    <!-- Hồ sơ xe -->
    <li routerLinkActive="active">
      <a [routerLink]="'/customer/ho-so-xe'">
        <i class="fa-solid fa-car-side"></i>
        <span>Hồ sơ xe</span>
      </a>
    </li>

    <!-- Hợp đồng tín dụng -->
    <li routerLinkActive="active">
      <a [routerLink]="'/customer/hop-dong-tin-dung'">
        <i class="fa-solid fa-file-contract"></i>
        <span>Hợp đồng tín dụng</span>
      </a>
    </li>
  </ul>
</nav>